.ant-popover-inner-content {
  width: 80%;
  overflow: auto;
  height: 500px;
  width: 100%;
  /* padding: 12px 16px; */
  color: rgba(255, 255, 255, 0.85);
  margin-top: 10%;
}

.ant-checkbox-wrapper {
  background-color: #1f1f1f;
}

.ant-popover .ant-popover-inner {
  background-color: #1f1f1f;
  background-clip: padding-box;
  border-radius: 8px;
  /* box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05); */
  padding: 0px;
}
