@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.aimodelErrorMessage {
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 4px;
}

.btnAiModelGeneral {
  background-color: white;
  color: black;
  border: solid 1px grey;
  border-radius: 5px;
  width: 180px;
  margin-left: 2px;
  font-size: 18px;
  height: auto;
  width: auto;
}

.aimodelTable {
  font-size: 14px;
  padding: 4px;
  text-align: center;
  width: 100%;
  height: 100%;
  border-spacing: 1px;
}

.addNewModelRow {
  font-size: 35px;
  width: 35px;
  height: 35px;
  color: #7cce23;
  cursor: pointer;
}

.addNewContourRow {
  font-size: 30px;
  width: 30px;
  height: 30px;
  color: #7cce23;
  cursor: pointer;
}

.aimodelTbody {
  padding: 1px;
  border: solid 1px grey;
  font-size: 14px;
  text-align: center;
}

.aimodelsPageDiv {
  margin: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  overflow: auto;
  width: 99%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: 2px;
}

.predictionDialogTitle {
  text-align: center;
}

.aimodelTableDiv {
  overflow: auto;
}

.paginationDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.aimodelTableThDiv {
  border-collapse: separate;
  border: 1px solid black;
  text-align: center;
  font-size: 12px;
  padding: 2px;
  background: grey none repeat scroll 0% 0%;
  color: white;
}

table.aimodelTable {
  border-collapse: separate;
  width: 100%;
  overflow-x: scroll;
}

.aimodelTable thead tr:nth-child(1) th {
  position: sticky;
  border-collapse: separate;
  top: 0;
  z-index: 1;
}

.pdfButtonUpload {
  color: black;
  padding: 10px;
  background-color: lightgray;
  border: 'sold 10px grey';
  border-radius: 4px;
  font-size: 18px;
  height: auto;
  width: auto;
}

.aiModelHeaderdelete {
  width: 60px;
}

.aiModelHeaderrunprediction {
  width: 60px;
}

.aiModelHeadername {
  width: 10%;
}

.aiModelHeaderdescription {
  width: 5px;
}

.setCodePathPathTH {
  width: 60%;
}

.setCodePathScriptTH {
  width: 40%;
}
.errorMessage {
  color: red;
}

.python-editor-input {
  width: 100%;
  height: 55vh;
  display: inline-flex;
  flex-direction: column;
  overflow: auto;
  background-color: #1f1f1f;
  color: white;
  font-size: 11px;
}

.python-editor-container {
  background-color: black;
  height: 100%;
  width: 100%;
  font-family: 'Roboto Mono', monospace;
  overflow: hidden;
  display: contents;
  align-items: center;
  justify-content: center;
}

.python-code-editor {
  height: 95%;
  background-color: #1f1f1f;
}

.python-editor-output textarea {
  min-height: 110px;
  max-height: 150px;
  background-color: #2e1128;
  padding: 0.5rem;
  font-size: 1rem;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  width: 100%;
  resize: vertical;
  overflow: auto;
}

.codeEditorDialog .ant-modal-body {
  height: 77vh;
  width: 934px;
}

.codeEditorDialog .ant-modal-content {
  width: 934px;
  height: 100%;
}

.runPredictionDialog .ant-modal-content {
  width: 900px;
}

.ant-modal .ant-modal-content {
  background-color: #1a1a1a;
  padding: 0;
}

.defineNewModelInformationTH {
  width: 20%;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-item {
  text-align: left;
  color: white;
  width: 250px;
}

.ant-modal {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  pointer-events: none;
  position: relative;
  top: 100px;
  width: auto;
  transform-origin: 702.283px 162px 0px;
  left: 20%;
}

.radioLocal {
  background-color: #1f1f1f;
  padding: 4px;
  height: 30px;
  color: white;
  margin-left: 50px;
  margin-right: 60px;
  margin-bottom: 10px;
  font-size: 16px;
}

.radioParrotServer {
  background-color: #1f1f1f;
  padding: 4px;
  height: 30px;
  color: white;
  margin-bottom: 10px;
  width: 150px;
  font-size: 16px;
}

.selectInterpretersDiv {
  display: inline-block;
}

.selectInterpreter .ant-select-selector {
  width: 249px;
}

.react-confirm-alert-overlay {
  z-index: 99999;
}

.runningBtn {
  font-size: 30px;
  color: yellow;
}

.setCodePathTable {
  border: sold 1px grey;
  font-size: 14px;
  padding: 2px;
  text-align: left;
  border-collapse: inherit;
  width: 100%;
  padding-bottom: 10px;
}

.contourMappingSelect .ant-select-selection-item {
  text-align: center;
}

.contourDefinitionTable thead tr:nth-child(1) th {
  position: sticky;
  border-collapse: separate;
  top: 0;
  z-index: 1;
}
