.contourDropdownToggle,
.dvhMetricDropdownToggle {
  color: black;
  width: 18em;
  margin-left: 10px;
}

.prescriptionValueInput {
  color: black;
  width: 169px;
}

.segDropdownItemDiv > a,
.dvhMetricDropdownItemDiv > a {
  color: white;
}

.segDropdownItemDiv {
  height: 350px;
  display: inline-grid;
  overflow: auto;
  width: 240px;
}

.ntcpBaselineScoreDropdownDiv {
  height: 350px;
  display: inline-grid;
  overflow: auto;
  width: 240px;
}

.ntcpLippLocationDropdownDiv {
  height: 350px;
  display: inline-grid;
  overflow: auto;
  width: 240px;
}

.dvhMetricDropdownItemDiv{
  height: 350px;
  display: inline-grid;
  overflow: auto;
  width: 100px;
}

.dvhNormalizationTR,
.dvhPrescriptionLabelTR,
.showNomalizationErrorMessageTR {
  height: 40px;
}

.contourLabel, .dvhMetricLabel, .prescriptionLabel {
  width: 110px;
}

.dvhNormalizationTd{
  padding-right: 45px;
}
